<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Ftage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/home-one/apple-touch-icon.html') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='images/logos/fav-icon.png')}}">
    <!-- Place favicon.ico in the root directory -->


    <!-- all css here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shortcode/shortcodes.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">

    <!-- Revolution Slider CSS -->
    <link href="{{ url_for('static', filename='assets/revolution/css/settings.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/revolution/css/navigation.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/revolution/custom-setting.css')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>

<body>

    <div class="page-wraper" id="main-home">
        <!-- Header Area Start -->
        <header>
            <!-- Header Menu Area Start -->
            {% include 'partials/header.html' %}
            <!-- Header Menu Area Start -->
            <!-- Slider Area Start -->
            <div class="slider-area">
                <div id="rev_slider_6_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="duotone1"
                    data-source="gallery" style="background:transparent;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.4.7 fullscreen mode -->
                    <div id="rev_slider_6_1" class="rev_slider fullscreenbanner" style="display:none;"
                        data-version="5.4.7">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-15" data-transition="cube" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="default"
                                data-thumb="{{url_for('static', filename='img/slider/home-one/100x50_1.png')}}"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{url_for('static', filename='img/slider/home-one/dummy.png')}}" alt=""
                                    data-lazyload="{{url_for('static', filename='img/slider/home-one/1.webp')}}"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                    data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption rs-parallaxlevel-4" id="slide-15-layer-8"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','3']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
                                    data-fontsize="['30','30','28','16']" data-lineheight="['70','30','50','30']"
                                    data-fontweight="['400','700','700','700']" data-letterspacing="['6','7','3','1']"
                                    data-width="['1233','640','480','300']" data-height="['73','none','none','none']"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="off"
                                    data-responsive="off"
                                    data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:20px;sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; min-width: 333px; max-width: 333px; max-width: 73px; max-width: 73px; white-space: normal; font-size: 30px; line-height: 70px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 6px;font-family:'Orbitron', sans-serif;text-transform:uppercase;">
                                    Transforming Moments into <span style="color:#e2a750">Masterpieces </span></div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-4" id="slide-15-layer-9"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','18','0']"
                                    data-y="['middle','middle','middle','middle']"
                                    data-voffset="['-45','-52','-23','-100']" data-fontsize="['60','50','35','20']"
                                    data-lineheight="['70','60','50','30']" data-letterspacing="['3','5','0','1']"
                                    data-width="['808','735','509','384']" data-height="['71','none','51','none']"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="off"
                                    data-responsive="off"
                                    data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:20px;sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 8; min-width: 808px; max-width: 804px; max-width: 71px; max-width: 71px; white-space: normal; font-size: 60px; line-height: 70px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: 3px;font-family:Roboto;text-transform:uppercase;">
                                    CAPTURE <span style="color:#e2a750">PERFECTION </span> </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-16" data-transition="cube" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="default"
                                data-thumb="{{url_for('static', filename='img/slider/home-one/100x50_2.png')}}"
                                data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1=""
                                data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{url_for('static', filename='img/slider/home-one/dummy.png')}}" alt=""
                                    data-lazyload="{{url_for('static', filename='img/slider/home-one/2.webp')}}"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                    data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption rs-parallaxlevel-4" id="slide-15-layer-8"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','3']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
                                    data-fontsize="['30','30','28','16']" data-lineheight="['70','30','50','30']"
                                    data-fontweight="['400','700','700','700']" data-letterspacing="['6','7','3','1']"
                                    data-width="['1233','640','480','300']" data-height="['73','none','none','none']"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="off"
                                    data-responsive="off"
                                    data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:20px;sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; min-width: 333px; max-width: 333px; max-width: 73px; max-width: 73px; white-space: normal; font-size: 30px; line-height: 70px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 6px;font-family:'Orbitron', sans-serif;text-transform:uppercase;">
                                    Swift, Reliable, and <span style="color:#e2a750">Affordable </span></div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-4" id="slide-15-layer-9"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','18','0']"
                                    data-y="['middle','middle','middle','middle']"
                                    data-voffset="['-45','-52','-23','-100']" data-fontsize="['60','50','35','20']"
                                    data-lineheight="['70','60','50','30']" data-letterspacing="['3','5','0','1']"
                                    data-width="['808','735','509','384']" data-height="['71','none','51','none']"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="off"
                                    data-responsive="off"
                                    data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:20px;sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 8; min-width: 808px; max-width: 804px; max-width: 71px; max-width: 71px; white-space: normal; font-size: 60px; line-height: 70px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: 3px;font-family:Roboto;text-transform:uppercase;">
                                    DELIVER <span style="color:#e2a750">EXCELLENCE </span> </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-17" data-transition="cube" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="default"
                                data-thumb="{{url_for('static', filename='img/slider/home-one/100x50_3.png')}}"
                                data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1=""
                                data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{url_for('static', filename='img/slider/home-one/dummy.png')}}" alt=""
                                    data-lazyload="{{url_for('static', filename='img/slider/home-one/3.webp')}}"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                    data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption rs-parallaxlevel-4" id="slide-15-layer-8"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','3']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
                                    data-fontsize="['30','30','28','16']" data-lineheight="['70','30','50','30']"
                                    data-fontweight="['400','700','700','700']" data-letterspacing="['6','7','3','1']"
                                    data-width="['1233','640','480','300']" data-height="['73','none','none','none']"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="off"
                                    data-responsive="off"
                                    data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:20px;sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; min-width: 333px; max-width: 333px; max-width: 73px; max-width: 73px; white-space: normal; font-size: 30px; line-height: 70px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 6px;font-family:'Orbitron', sans-serif;text-transform:uppercase;">
                                    Engage, Inspire, and <span style="color:#e2a750">Captivate </span></div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-4" id="slide-15-layer-9"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','18','0']"
                                    data-y="['middle','middle','middle','middle']"
                                    data-voffset="['-45','-52','-23','-100']" data-fontsize="['60','50','35','20']"
                                    data-lineheight="['70','60','50','30']" data-letterspacing="['3','5','0','1']"
                                    data-width="['808','735','509','384']" data-height="['71','none','51','none']"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="off"
                                    data-responsive="off"
                                    data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:20px;sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 8; min-width: 808px; max-width: 804px; max-width: 71px; max-width: 71px; white-space: normal; font-size: 60px; line-height: 70px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: 3px;font-family:Roboto;text-transform:uppercase;">
                                    TELL YOUR <span style="color:#e2a750">STORY </span> </div>
                            </li>
                        </ul>
                        <div style="" class="tp-static-layers">
                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-15 tp-static-layer"
                                id="slider-6-layer-1" data-x="['left','left','left','left']"
                                data-hoffset="['-750','-750','-750','-750']"
                                data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['-1850','-1850','-1850','-1850']" data-width="1500" data-height="1500"
                                data-whitespace="nowrap" data-visibility="['on','on','off','off']" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                data-startslide="0" data-endslide="2"
                                data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;rZ:45;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 17;background-color:rgba(255,255,255,1);">
                            </div>
                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-15 tp-static-layer"
                                id="slider-6-layer-2" data-x="['right','right','right','right']"
                                data-hoffset="['-750','-750','-750','-750']"
                                data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['-1850','-1850','-1850','-1850']" data-width="1500" data-height="1500"
                                data-whitespace="nowrap" data-visibility="['on','on','off','off']" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                data-startslide="0" data-endslide="2"
                                data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;rZ:45;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 18;background-color:rgba(255,255,255,1);">
                            </div>
                        </div>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <!-- Slider Area End -->
        </header>
        <!-- Header Area End -->
        <!-- Page Content Start -->
        <div class="page-content">
            <!-- About Us Area Start -->
            <section class="aboutus-area pt-90 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aboutus-content text-center">
                                <div class="aboutus-titel">
                                    <h2>ABOUT US</h2>
                                    <p>our go-to source for high-quality video production and fast delivery in Ireland
                                    </p>
                                </div>
                                <div class="aboutus-video bg-1 bg-overlay-1">
                                    <div class="video-content">
                                        <a href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s" class="popup-youtube">
                                            <i class="icofont icofont-play-alt-2"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="aboutus-bottom-txt">
                                    <p>At Viral Me, Ireland's leading video production company, we're passionate about
                                        creating stunning videos that captivate and engage audiences across Dublin and
                                        beyond. </p>
                                    <div class="load-btn text-center mt-20">
                                        <a class="hvr-btn" href="{{ url_for('about.about') }}">LOAD MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- All Service Area Start -->
            <section class="service-area pt-90 pb-100 bg-3 bg-overlay-2 indicator-style">
                <div class="container">
                    <div class="row">
                        <!-- Section Titel -->
                        <div class="col-md-12">
                            <div class="section-titel text-left two">
                                <h2>SERVICES</h2>
                                <p>Delivering high-quality video content for businesses across Ireland </p>
                            </div>
                        </div>
                        <!-- Section Titel -->
                    </div>
                    <!-- Service Single Item Area Start -->
                    <div class="main-section">
                        <div class="sevice-active owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="service-single text-center">
                                <div class="servce-icon">
                                    <i class="icofont icofont-ui-video-play"></i>
                                </div>
                                <div class="service-details">
                                    <h4><a href="#">Corporate Video Production</a></h4>
                                    <p>Craft compelling corporate messages that resonate with your audience. </p>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="service-single text-center">
                                <div class="servce-icon">
                                    <i class="icofont icofont-video-cam"></i>
                                </div>
                                <div class="service-details">
                                    <h4><a href="#">Event Video Production</a></h4>
                                    <p>Capture the essence of your events with professional videography.</p>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="service-single text-center">
                                <div class="servce-icon">
                                    <i class="icofont icofont-movie"></i>
                                </div>
                                <div class="service-details">
                                    <h4><a href="#">Marketing Video Production</a></h4>
                                    <p>Create engaging content to promote your brand and products.</p>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="service-single text-center">
                                <div class="servce-icon">
                                    <i class="icofont icofont-multimedia"></i>
                                </div>
                                <div class="service-details">
                                    <h4><a href="#">Product Video Production</a></h4>
                                    <p>Showcase your products with high-quality video presentations.</p>
                                </div>
                            </div>
                            <!-- Single Item -->
                        </div>
                    </div>
                    <!-- Service Single Item Area End -->
                </div>
            </section>
            <!-- All Service Area End -->

            <section class="tailer-area pt-90 pb-100 indicator-style">
                <div class="container">
                    <div class="row">
                        <!-- Section Titel -->
                        <div class="col-md-12">
                            <div class="section-titel text-right">
                                <h2>LATEST WORKS</h2>
                                <p>It is a long established fact that a reader will be distracted readable </p>
                            </div>
                        </div>
                        <!-- Section Titel -->
                    </div>
                    <!-- Trailer Single Item Area Start -->
                    <div class="main-section">
                        <div class="tailer-active owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="trailer-single">
                                <div class="trailer-img">
                                    <img src="{{ url_for('static', filename='img/home-one/trailer/1.png') }}" alt="">
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=TLnmb07WQ-s">
                                        <i class="icofont icofont-play-alt-2"></i>
                                    </a>
                                </div>
                                <div class="trailer-titel">
                                    <h5><a href="{{url_for('blog_single.blog_single')}}">ENTER THE SEA</a> <span>3.45</span> </h5>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="trailer-single">
                                <div class="trailer-img">
                                    <img src="{{url_for('static', filename='img/home-one/trailer/2.png')}}" alt="">
                                    <a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s">
                                        <i class="icofont icofont-play-alt-2"></i>
                                    </a>
                                </div>
                                <div class="trailer-titel">
                                    <h5><a href="{{url_for('blog_single.blog_single')}}">JOURNEY BY AIR BOAT</a> <span>3.45</span> </h5>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="trailer-single">
                                <div class="trailer-img">
                                    <img src="{{url_for('static', filename='img/home-one/trailer/3.png')}}" alt="">
                                    <a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s">
                                        <i class="icofont icofont-play-alt-2"></i>
                                    </a>
                                </div>
                                <div class="trailer-titel">
                                    <h5><a href="{{url_for('blog_single.blog_single')}}">THE MINDS OF KIDS</a> <span>3.45</span> </h5>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="trailer-single">
                                <div class="trailer-img">
                                    <img src="{{url_for('static', filename='img/home-one/trailer/4.png')}}" alt="">
                                    <a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s">
                                        <i class="icofont icofont-play-alt-2"></i>
                                    </a>
                                </div>
                                <div class="trailer-titel">
                                    <h5><a href="{{url_for('blog_single.blog_single')}}">FLY TO DIE</a> <span>3.45</span> </h5>
                                </div>
                            </div>
                            <!-- Single Item -->
                        </div>
                    </div>
                    <!-- Trailer Single Item Area End -->
                </div>
            </section>
            <!-- Latest Tailer Area End -->


            <!-- Testimonial Area Start -->
            <section class="testimonial-area bg-4 ptb-100 indicator-style overflow-hidden">
                <div class="container">
                    <div class="row">
                        <div class="testimonial-active owl-carousel owl-theme">
                            <!-- Testimonial Single Item -->
                            <div class="col-lg-12 col-md-12 col-12 testimonial-single text-center">
                                <div class="testi-img">
                                    <img src="{{ url_for('static', filename='img/home-one/other/testi-1.png') }}"
                                        alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>There are of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, injected humour, or randomised words look even slightly
                                        believable.</p>
                                    <h6>MOMENZ VONG</h6>
                                    <span>Script Writer</span>
                                </div>
                            </div>
                            <!-- Testimonial Single Item -->
                            <!-- Testimonial Single Item -->
                            <div class="col-lg-12 col-md-12 col-12 testimonial-single text-center">
                                <div class="testi-img">
                                    <img src="{{ url_for('static', filename='img/home-one/other/testi-2.png') }}"
                                        alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>There are of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, injected humour, or randomised words look even slightly
                                        believable.</p>
                                    <h6>MOMENZ VONG</h6>
                                    <span>Script Writer</span>
                                </div>
                            </div>
                            <!-- Testimonial Single Item -->
                            <!-- Testimonial Single Item -->
                            <div class="col-lg-12 col-md-12 col-12 testimonial-single text-center">
                                <div class="testi-img">
                                    <img src="{{ url_for('static', filename='img/home-one/other/testi-1.png') }}"
                                        alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>There are of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, injected humour, or randomised words look even slightly
                                        believable.</p>
                                    <h6>MOMENZ VONG</h6>
                                    <span>Script Writer</span>
                                </div>
                            </div>
                            <!-- Testimonial Single Item -->
                            <!-- Testimonial Single Item -->
                            <div class="col-lg-12 col-md-12 col-12 testimonial-single text-center">
                                <div class="testi-img">
                                    <img src="{{ url_for('static', filename='img/home-one/other/testi-2.png') }}"
                                        alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>There are of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, injected humour, or randomised words look even slightly
                                        believable.</p>
                                    <h6>MOMENZ VONG</h6>
                                    <span>Script Writer</span>
                                </div>
                            </div>
                            <!-- Testimonial Single Item -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial Area End -->
            <!-- Our Team Area Start -->
            <section class="ourteam-area pt-95 pb-100">
                <div class="container-fluid">

                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Video Production Process</h2>
                            <p>Our comprehensive approach to delivering exceptional video content</p>
                        </div>
                    </div>
                    <!-- Main timeline container -->

                    <div class="p-300">
                        <div class="timeline-container">
                            <!-- Individual timeline point -->
                            <div class="timeline-point">
                                1
                                <div class="popup">
                                    <div class="popup-number">1</div>
                                    <div class="popup-details">
                                        <div class="popup-title">Understanding the Business</div>
                                        <h6><em>Initial Consultation</em></h6>
                                        We begin by understanding your business, target audience, and objectives to
                                        ensure
                                        the video aligns with your vision.
                                    </div>
                                </div>
                            </div>

                            <!-- Individual timeline point -->
                            <div class="timeline-point">
                                2
                                <div class="popup">
                                    <div class="popup-number">2</div>
                                    <div class="popup-details">
                                        <div class="popup-title">Story Scripting</div>
                                        <h6><em>Crafting the Narrative</em></h6>
                                        Our team collaborates with you to create a compelling script that effectively
                                        communicates your message.
                                    </div>
                                </div>
                            </div>

                            <!-- Individual timeline point -->
                            <div class="timeline-point">
                                3
                                <div class="popup">
                                    <div class="popup-number">3</div>
                                    <div class="popup-details">
                                        <div class="popup-title">Shoot</div>

                                        <h6><em>Capturing Footage</em></h6>
                                        Using state-of-the-art equipment, we film the necessary scenes to bring your
                                        story
                                        to life.
                                    </div>
                                </div>
                            </div>

                            <!-- Individual timeline point -->
                            <div class="timeline-point">
                                4
                                <div class="popup">
                                    <div class="popup-number">4</div>
                                    <div class="popup-details">
                                        <div class="popup-title">Editing</div>
                                        <h6><em>Post-Production</em></h6>
                                        Our editors meticulously craft the footage, adding effects, music, and
                                        transitions
                                        to produce a polished video.
                                    </div>
                                </div>
                            </div>

                            <!-- Individual timeline point -->
                            <div class="timeline-point">
                                5
                                <div class="popup">
                                    <div class="popup-number">5</div>
                                    <div class="popup-details">
                                        <div class="popup-title">Feedback</div>
                                        <h6><em>Client Review</em></h6>
                                        We present the draft to you for feedback, making adjustments as needed to meet
                                        your
                                        expectations.
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-point">
                                6
                                <div class="popup">
                                    <div class="popup-number">6</div>
                                    <div class="popup-details">
                                        <div class="popup-title">Final Approval</div>
                                        <h6><em>Delivery</em></h6>
                                        Upon your approval, we deliver the final video, ready for distribution on your
                                        chosen platforms.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
        <!-- Page Content End -->
        <!-- Footer Area Start -->
        {% include 'partials/footer.html' %}
        <!-- Footer Area End -->
    </div>
    <!-- Page Wraper Here Start -->

    <!-- all js here -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-migrate-3.3.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Revolution Slider JS -->
    <script src="{{ url_for('static', filename='assets/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/revolution/revolution-active.js') }}"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript"
        src="{{ url_for('static', filename='assets/revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='assets/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='assets/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='assets/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='assets/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='assets/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
</body>

</html>