<!doctype html>
<html class="no-js" lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Our Works | Viral Me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/home-one/apple-touch-icon.html') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logos/fav-icon.png') }}">

    <!-- Place favicon.ico in the root directory -->


    <!-- all css here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shortcode/shortcodes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>
    

    <!-- Page Wraper Here Start -->
    <div class="page-wraper" id="main-home">
        <!-- Header Area Start -->
        <header>
            <!-- Header Menu Area Start -->
            {% include "partials/header.html" %}
            <!-- Header Menu Area Start -->
            <!-- Breadcamb Area Start -->
            <section class="breadcamb-area bg-17 bg-overlay-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bradcamb-content text-center text-white text-uppercase">
                                <h1>Portfolio</h1>
                                <ul>
                                    <li><a href="{{ url_for('home.home') }}">HOME <span>/</span></a></li>
                                    <li>Portfolio</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcamb Area End -->
        </header>
        <!-- Header Area End -->
        <!-- Page Content Start -->
        <div class="page-content">

         <div class="gallery-area pt-95 pb-70">
					<div class="container-fluid">
						<!-- Latest Shot Main Area Start -->
						<div class="our-gallery">
							<!-- Latest Shot/Portfolio Menu Tab -->
							<div class="gallery">
								<ul class="text-center gallery-menu mr-0">
									<li class="active" data-filter="*">All</li>
									<li class="filter" data-filter=".c1">SHOOTING</li>
									<li class="filter" data-filter=".c2">PRODUCTION </li>
									<li class="filter" data-filter=".c3">STUDIO</li>
									<li class="filter" data-filter=".c4">LOCATION</li>
								</ul>
							</div>
							<!-- Latest Shot/Portfolio Menu Tab -->
							<div class="grid gallery-box">
								<div class="gallery-content row">
									
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/1.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>My Dream Stranger</h5>
												<h6>Short Film</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c2 c4">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/2.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>We make it awesome</h5>
												<h6>Music Video</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/3.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>Back to you</h5>
												<h6>Commercial</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/4.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>The beautiful life</h5>
												<h6>Advertising</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/5.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>Passion depend only</h5>
												<h6>Music Video</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/6.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>Out Of relationship</h5>
												<h6>Advertising</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/7.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>The beautiful life</h5>
												<h6>Short film</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{url_for('static', filename='img/home-two/gallery/8.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>Back to you</h5>
												<h6>Short film</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
									<div class="grid-item col-lg-4 col-md-6 col-sm-12 c1 c3 c5">
										<!-- Latest Shot/Portfolio Single -->
										<div class="gallery-single style-two">
											<div class="gallery-image">
												<img src="{{ url_for('static', filename='img/home-two/gallery/4.png')}}" alt="">
												<a class="popup-youtube" href="www.youtube.com/watch1e86.html?v=TLnmb07WQ-s"><i class="icofont icofont-play-alt-2"></i></a>
											</div>
											<div class="gallery-meta text-center">
												<h5>The beautiful life</h5>
												<h6>Short film</h6>
											</div>
										</div>
										<!-- Latest Shot/Portfolio Single -->
									</div>
								</div>
							</div>
						</div>
						<!-- Latest Shot Main Area End -->
					</div>
				</div>

        </div>
        <!-- Page Content End -->
        <!-- Footer Area Start -->
        {% include 'partials/footer.html' %}
        <!-- Footer Area End -->
    </div>
    <!-- Page Wraper Here Start -->

    <!-- all js here -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-migrate-3.3.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
